<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="static/styles.css">
</head>
<body>
    <h1 class="banner-heading">Amrita Space OCR Engine</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left-frame">
                <!-- Left Frame Content -->
                <!-- You can add your text content here -->
                
                   <p class="ac"> As a component of the Amrita Space project, this feature is housed within the dedicated 
                    subdirectory of our application </p> <br> <br> <p class="testme">
                    Transform your handwritten PDFs into digital formats effortlessly with our app. Seamlessly 
                    convert multiple-page handwritten documents into digitized versions with just a few clicks. 
                    Harnessing the power of advanced OCR technology, our app accurately transcribes handwritten 
                    text, ensuring high fidelity and readability. Once digitized, download your documents in various 
                    file formats, enabling easy access, sharing, and archiving. Experience the convenience and efficiency
                     of digitizing your handwritten content with our user-friendly app today.</p>
            </div>
            <div class="col-sm-6 right-frame d-flex justify-content-center align-items-center">
                <!-- Right Frame Content -->
                <form action="/upload" method="post" enctype="multipart/form-data" class="text-center">
                    <div class="form-group">
                        <label for="file" class="custom-file-label">Choose PDF File</label>
                        <input type="file" class="form-control-file-custom-file-input" id="file" name="file" accept=".pdf" required multiple>
                    </div>
                    <button type="submit" class="btn-btn-primary-btn-lg">Upload</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
